#titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: hsla(296, 95%, 47%, 0.728);

    border: 3px solid green ;
    width: 100px;
    height: 100px; 
    overflow: scroll  ;
    margin: 60px solid;
    padding: 30px solid;
    padding-left: 120px;
}
